*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0c0012;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    overflow-x: hidden;
}

/* ***CONTAINER **** */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;

    @media (min-width: 40em) {
        max-width: 640px;
    }

    @media (min-width: 48em) {
        max-width: 768px;
    }

    @media (min-width: 64em) {
        max-width: 1024px;
    }

    @media (min-width: 80em) {
        max-width: 1280px;
    }

    @media (min-width: 96em) {
        max-width: 1536px;
    }
}

/* *** HOME *** */

/* Navbar */
.nav {
    width: 90%;
    margin: 2.4rem auto 0;
    padding: 1.6rem 0;
    background-color: #1d012ac7;
    border: 2px solid #b925ff;
    border-radius: 50px;
}

.nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style-type: none;
}

.nav__item {
    display: inline-block;
}

.nav__item:not(:last-child) {
    margin-right: 3.2rem;
}

.nav__link {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav__link:hover,
.nav__link.active {
    color: #fff;
}

/* Hero */
.header__hero {
    margin-top: 7.2rem;
    text-align: center;
    line-height: 1;
}

.header__main-heading {
    margin-bottom: 2.4rem;
}

.header__main-heading--top {
    font-weight: 300;
    font-size: 4rem;
}

.header__main-heading--bottom {
    font-size: 12rem;
}

.header__subheading {
    color: rgba(255, 255, 255, 0.4);
}

.btn {
    padding: 1.6rem 6.2rem;
    margin-top: 4rem;
    color: #fff;
    font-size: 1.8rem;
    background-color: #180023;
    border: 2px solid #b925ff;
    border-radius: 20px;
    box-shadow: 0px 0px 13.19px #b925ff52;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.3s linear;
}

.btn:hover {
    background-color: #b925ff;
    box-shadow: 5px 5px 50px #b925ff52;
}

.header__clients {
    margin-top: 6.8rem;
    display: flex;
    justify-content: space-around;
}

.header__client {
    padding: 2.4rem;
    background-color: #66019670;
    border-radius: 20px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    transition: background-color 0.5s ease, box-shadow 0.3s linear,
        border 0.5s ease;
}

.header__client:hover {
    background-color: #7100a7;
    box-shadow: 5px 5px 25px #b925ff52;
    border: 2px solid #b925ff;
}

.header__client img {
    width: 11.5rem;
}

.header__client-number {
    font-size: 3.6rem;
    font-weight: 700;
}

.header__client-text {
    color: rgba(255, 255, 255, 0.4);
}

.main {
    margin-top: 5rem;
    /* overflow-x: hidden; */
}

/* WHO ARE WE */
.secondary-heading__container {
    height: 400px;
    position: relative;
}

.secondary-heading--big {
    font-size: 19vw;
    text-wrap: nowrap;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.secondary-heading--normal {
    text-align: center;
    font-size: 9.5rem;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%);
}

.secondary-heading--highlight {
    border-left: 7px solid #ff3aff;
    border-right: 7px solid #ff3aff;
    background-color: #ab1dee;
}

.home__about__details {
    display: flex;
}

.home__about__details-box:not(:last-child) {
    margin-right: 7rem;
}

.home__about__details-box:hover .home__about__detail-box::after {
    transform: translateY(0);
}

.home__about__details-box:hover .home__about__detail-box {
    padding: 0 2.4rem 3.2rem;
    transform: translateY(-15px);
}

.home__about__details-box:hover .home__about__detail-year {
    transform: translateY(-1px);
}

.home__about__detail-year {
    font-size: 7rem;
    font-weight: 500;
    transform: translateY(16px);
    text-align: center;
    transition: transform 1.2s ease;
}

.home__about__detail-box {
    padding: 0 1.6rem 2.4rem;
    width: 45rem;
    height: 20rem;
    border: 4px solid #ab1dee;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #190024e7, #190024de),
        url('assets/laptop.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    transition: transform 1.2s ease, padding 0.8s ease;
}

.home__about__detail-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ba25ff34;
    transform: translateY(100%);
    transition: transform 1.2s ease;
}

.home__about__detail-heading {
    margin-bottom: 0.8rem;
    font-size: 3.2rem;
    font-weight: 500;
    position: relative;
    z-index: 5;
}

.home__about__detail-text {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 5;
}

.home__about__btn-box {
    text-align: center;
}

/* OUR SERVICES */
.home__services__boxes {
    margin-top: 3.2rem;
}

.home__services__box {
    padding: 7rem;
    background-color: #240b31;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #ab1dee00, #ab1dee, #ab1dee00);
    border-image-slice: 1;
}

.home__services__box::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    transition: background 0.8s ease;
}

.home__services__box:hover::after {
    background-color: #ac1deea2;
}

.home__services__box:hover .home__services__box-img {
    transform: translateY(0);
}

.home__services__box:hover .home__services__box-subheading {
    transform: scale(1.5);
}

.home__services__box:hover .home__services__box-heading {
    transform: scale(1.2);
}

.home__services__box:hover .home__services__box-text {
    transform: scale(1.1);
}

.home__services__box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.home__services__box-subheading {
    font-size: 3.2rem;
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services__box-subheading::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #ab1dee;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease;
}

.home__services__box-heading {
    font-size: 6rem;
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services__box-text {
    width: 30%;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services-btn {
    padding: 2.1rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services-btn:hover {
    transform: scale(1.2);
}

/* OUR WROK */
.home__work {
    margin-top: 3.2rem;
}

.home__work__cards .container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 13rem;
    row-gap: 4rem;
    flex-wrap: wrap;
}

.home__work__card {
    margin-top: 2.4rem;
    padding: 0.4rem;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
}

.home__work__card:hover .home__work__card-img {
    transform: translateY(-27px);
}

.home__work__card:hover .home__work__card-heading--top {
    transform: translate(-50%, -27px);
}

.home__work__card:hover .home__work__card-heading--bottom {
    opacity: 1;
    visibility: visible;
}

.home__work__card-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid #b925ff;
    box-shadow: 0px 0px 13.19px #b925ff52;
    transition: transform 0.5s ease;
}

.home__work__card-heading {
    position: relative;
}

.home__work__card-heading--top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease;
}

.home__work__card-heading--bottom {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.4);
    text-wrap: nowrap;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* OUR CLIENTS */

.home__clients {
    margin-top: 3.2rem;
}

h2.home__client__secondary-heading {
    top: 0;
}

.home__client__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.8rem;
}

.home__client__logo-box {
    padding: 0.8rem;
    background-color: #66019670;
    border: 2px solid #ab1dee;
    border-radius: 7px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.home__client__logo-box:hover {
    transform: scale(1.1);
    background-color: #7100a7;
}

/* CONTACT US */
.home__contact {
    margin-top: 3.2rem;
    padding-bottom: 12rem;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #ab1dee00, #ab1dee, #ab1dee00);
    border-image-slice: 1;
}

.home__contact.contact__contact {
    margin-top: 20rem;
}

.home__contact__box {
    margin-top: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.home__contact__right,
.home__contact__left {
    flex: 1;
}

.home__contact__img {
    width: 85%;
    object-fit: cover;
}

.home__contact__text {
    margin: 1.6rem 0 2.4rem;
    width: 60%;
    color: rgba(255, 255, 255, 0.4);
}

.home__contact__form {
    width: 35rem;
    display: flex;
    flex-direction: column;
}

.home__contact__form input,
.home__contact__form textarea {
    padding: 1.6rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.6rem;
    background-color: #2a192a;
    color: rgba(255, 255, 255, 0.7);
}

.home__contact__form textarea {
    height: 15rem;
    resize: none;
}

.home__contact__form button {
    margin: 0;
    align-self: flex-end;
}

/* FOOTER */
.footer {
    padding: 15rem 0;
    margin-top: 10rem;
    background-color: #000;
}

.footer > .container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    column-gap: 17rem;
    row-gap: 5rem;
}

.footer__about ul,
.footer__contact ul {
    margin-top: 1.6rem;
    list-style: none;
}

.footer__about li,
.footer__contact li {
    margin-bottom: 0.8rem;
    color: rgba(255, 255, 255, 0.4);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.footer__bottom--left,
.footer__bottom--right {
    flex: 1;
}

.footer__logo {
    width: 8rem;
}

.footer__text {
    width: 80%;
    margin-top: 1.6rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.6rem;
}

.footer__sm {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

.footer__sm ul {
    list-style: none;
    display: flex;
    gap: 1.6rem;
}

.footer__sm li img {
    width: 3rem;
    transition: transform 0.5s ease;
}

.footer__sm li img:hover {
    transform: scale(1.3);
}

.footer__sm > p {
    color: rgba(255, 255, 255, 0.4);
}

.footer__highlight {
    color: #fff;
}

/* **** CONTACT PAGE **** */
.contact__location {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact__location--right {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.contact__location__heading--text {
    font-size: 3.2rem;
}

.contact__location__text {
    color: rgba(255, 255, 255, 0.7);
}

.conatct__location__info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact__location__phone-box,
.contact__location__mail-box {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ab1dee;
    box-shadow: 0px 0px 20px #b925ff52;
}

.contact__location__sm {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.contact__location__sm > span {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ab1dee82;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.contact__location__sm > span:hover {
    transform: scale(1.2);
    background-color: #ab1dee;
    box-shadow: 0px 0px 20px #b925ff52;
}

/* **** ABOUT PAGE **** */
.about__about {
    margin-top: 20rem;
}

.about__team {
    margin-top: 3.2rem;
}

.about__team__cards {
    margin-top: 5rem;
    display: flex;
    gap: 8rem;
}

.about__team__card {
    width: 60rem;
}

.about__team__card__headings {
    width: calc(60rem - 50%);
    margin-bottom: 0.8rem;
    transform: translateX(50%);
    position: relative;
}

.about__team__card__headings::after {
    content: '';
    width: 45%;
    height: 5px;
    background-color: #ab1dee;
    box-shadow: 0px 0px 20px #b925ff52;
    border-radius: 20px;
    position: absolute;
    bottom: 7px;
    right: 0;
}

.about__team__card__headings::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ab1dee;
    box-shadow: 0px 0px 20px #b925ff52;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.about__team__card__headings > h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
}

.about__team__card__headings > h4 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
}

.about__team__card-img {
    height: 40rem;
    transform: translateY(-26%);
}

.about__team__card--detaild {
    height: 30rem;
    background-color: #180023;
    border: 5px solid #ab1dee;
    border-radius: 7px;
    border-image: linear-gradient(to top, #ab1dee00, #ab1dee, #ab1dee00);
    border-image-slice: 2;
    display: flex;
}

.about__team__card--container {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__team__card-position {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
}
