*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0c0012;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    overflow-x: hidden;
}

/* ***CONTAINER **** */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;

    @media (min-width: 40em) {
        max-width: 640px;
    }

    @media (min-width: 48em) {
        max-width: 768px;
    }

    @media (min-width: 64em) {
        max-width: 1024px;
    }

    @media (min-width: 80em) {
        max-width: 1280px;
    }

    @media (min-width: 96em) {
        max-width: 1536px;
    }
}

/* *** HOME *** */

/* Navbar */
.nav {
    width: 90%;
    margin: 2.4rem auto 0;
    padding: 1.6rem 0;
    background-color: #1d012ac7;
    border: 2px solid #b925ff;
    border-radius: 50px;
}

.nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style-type: none;
}

.nav__item {
    display: inline-block;
}

.nav__item:not(:last-child) {
    margin-right: 3.2rem;
}

.nav__link {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav__link:hover,
.nav__link.active {
    color: #fff;
}

/* Hero */
.header__hero {
    margin-top: 7.2rem;
    text-align: center;
    line-height: 1;
}

.header__main-heading {
    margin-bottom: 2.4rem;
}

.header__main-heading--top {
    font-weight: 300;
    font-size: 4rem;
}

.header__main-heading--bottom {
    font-size: 12rem;
}

.header__subheading {
    color: rgba(255, 255, 255, 0.4);
}

.btn {
    padding: 1.6rem 6.2rem;
    margin-top: 4rem;
    color: #fff;
    font-size: 1.8rem;
    background-color: #180023;
    border: 2px solid #b925ff;
    border-radius: 20px;
    box-shadow: 0px 0px 13.19px #b925ff52;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.3s linear;
}

.btn:hover {
    background-color: #b925ff;
    box-shadow: 5px 5px 50px #b925ff52;
}

.header__clients {
    margin-top: 6.8rem;
    display: flex;
    justify-content: space-around;
}

.header__client {
    padding: 2.4rem;
    background-color: #66019670;
    border-radius: 20px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    transition: background-color 0.5s ease, box-shadow 0.3s linear,
        border 0.5s ease;
}

.header__client:hover {
    background-color: #7100a7;
    box-shadow: 5px 5px 25px #b925ff52;
    border: 2px solid #b925ff;
}

.header__client img {
    width: 11.5rem;
}

.header__client-number {
    font-size: 3.6rem;
    font-weight: 700;
}

.header__client-text {
    color: rgba(255, 255, 255, 0.4);
}

.main {
    margin-top: 5rem;
    /* overflow-x: hidden; */
}

/* WHO ARE WE */
.secondary-heading__container {
    height: 400px;
    position: relative;
}

.secondary-heading--big {
    font-size: 19vw;
    text-wrap: nowrap;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.secondary-heading--normal {
    text-align: center;
    font-size: 9.5rem;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%);
}

.secondary-heading--highlight {
    border-left: 7px solid #ff3aff;
    border-right: 7px solid #ff3aff;
    background-color: #ab1dee;
}

.home__about__details {
    display: flex;
}

.home__about__details-box:not(:last-child) {
    margin-right: 7rem;
}

.home__about__details-box:hover .home__about__detail-box::after {
    transform: translateY(0);
}

.home__about__details-box:hover .home__about__detail-box {
    padding: 0 2.4rem 3.2rem;
    transform: translateY(-15px);
}

.home__about__details-box:hover .home__about__detail-year {
    transform: translateY(-1px);
}

.home__about__detail-year {
    font-size: 7rem;
    font-weight: 500;
    transform: translateY(16px);
    text-align: center;
    transition: transform 1.2s ease;
}

.home__about__detail-box {
    padding: 0 1.6rem 2.4rem;
    width: 45rem;
    height: 20rem;
    border: 4px solid #ab1dee;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #190024e7, #190024de),
        url('assets/laptop.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    transition: transform 1.2s ease, padding 0.8s ease;
}

.home__about__detail-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ba25ff34;
    transform: translateY(100%);
    transition: transform 1.2s ease;
}

.home__about__detail-heading {
    margin-bottom: 0.8rem;
    font-size: 3.2rem;
    font-weight: 500;
    position: relative;
    z-index: 5;
}

.home__about__detail-text {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 5;
}

.home__about__btn-box {
    text-align: center;
}

/* OUR SERVICES */
.home__services__boxes {
    margin-top: 3.2rem;
}

.home__services__box {
    padding: 7rem;
    background-color: #240b31;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #ab1dee00, #ab1dee, #ab1dee00);
    border-image-slice: 1;
}

.home__services__box::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    transition: background 0.8s ease;
}

.home__services__box:hover::after {
    background-color: #ac1deea2;
}

.home__services__box:hover .home__services__box-img {
    transform: translateY(0);
}

.home__services__box:hover .home__services__box-subheading {
    transform: scale(1.5);
}

.home__services__box:hover .home__services__box-heading {
    transform: scale(1.2);
}

.home__services__box:hover .home__services__box-text {
    transform: scale(1.1);
}

.home__services__box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.home__services__box-subheading {
    font-size: 3.2rem;
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services__box-subheading::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #ab1dee;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease;
}

.home__services__box-heading {
    font-size: 6rem;
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services__box-text {
    width: 30%;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services-btn {
    padding: 2.1rem;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    position: relative;
    z-index: 5;
    transition: transform 0.5s ease;
}

.home__services-btn:hover {
    transform: scale(1.2);
}
