*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0c0012;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

/* ***CONTAINER **** */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.4rem;

    @media (min-width: 40em) {
        max-width: 640px;
    }

    @media (min-width: 48em) {
        max-width: 768px;
    }

    @media (min-width: 64em) {
        max-width: 1024px;
    }

    @media (min-width: 80em) {
        max-width: 1280px;
    }

    @media (min-width: 96em) {
        max-width: 1536px;
    }
}
